<footer class="footer">
  <div class="content container">
    <div class="row">
      <div class="col-xs-6">
        <a href="https://countir.jp/" target="_blank">Copyright© Contir, Inc. ALL RIGHTS RESERVED. <%= image_tag 'logo.svg', class: 'footer-logo', alt: 'Countir, Inc.' %></a>
      </div>
      <div class="col-xs-6 text-right">
        <p class="margin-b-0"><a class="color-base fweight-700" href="https://goo.gl/forms/ry2VHtEWhwXGfykE2" target="_blank">お問い合わせフォーム</a></p>
      </div>
    </div>
  </div>
</footer>
